<div class="right_col" role="main">
  <div class="">
    <div class="row">

      <div class="title_left">
          <h3>Mostrar Imagen del Carrusel</h3> 
      </div>

      <div class="x_panel">
        <div class="x_title">

          <% if notice.present? %>
            <div class="alert alert-info alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button> 
                <%= notice %>
            </div>
          <% end %>

          <h2>Formulario Imagen Carrusel</h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>

          <div class="clearfix"></div>

        </div>

        <div class="x_content">
        <br/>

          <div class="col-md-1 col-xs-0"></div>
          
            <div class="row">
              <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="panel panel-primary" style="margin: 1em;">

                  <div class="panel-heading" style="padding: 10px 15px;">
                    <h3 class="panel-title"><i class="fa fa-bicycle"></i> Ver Imagen</h3>  
                  </div>

                    <div class="row">
                      <div class="panel-body" style="padding: 10px;">
                                
                          <div class="col-md-12 col-sm-12 col-xs-12 has-feedback">
                              <center>
                                  <%= image_tag @roulette.imagen_carrusel.url, class: "img-responsive img-thumbnail" %>
                                </center>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <hr style="border-color:black; margin-bottom: 0px;">
                            </div>

                        </div>
                    </div>
                  
                    <div class="row">

                      <div class="panel-body" style="padding: 10px;">
                        
                          <div class="col-md-12 col-sm-12 col-xs-12 has-feedback">               
                            <div style="text-align: center; font-weight: bold; font-size: 20px">
                                <%= @roulette.titulo_carrusel %>
                            </div>
                            <div style="font-style: italic; font-size: 12px;">
                              <i class="fa fa-user" style="margin-right: 5px;"></i>Por: <%= @roulette.user.nombre_noticia_user %>
                            </div>
                            <div style="font-style: italic; font-size: 12px;">
                              <i class="fa fa-bookmark" style="margin-right: 5px;"></i>Identificador: <%= @roulette.nombre_carrusel %>
                            </div>
                            <br>
                            <div style="text-align: justify; font-size: 18px">
                                <%= @roulette.subtitulo_carrusel %>
                            </div>
                            <br>
                            <div style="text-align: justify; font-size: 18px">
                                <%= @roulette.cuerpo_carrusel %>
                            </div>
                          </div>

                        </div>

                    </div>

                </div>
              </div>
            </div>

          <div class="col-md-1 col-xs-0"></div>  

        </div>

      </div>

      <%= link_to 'Volver', roulettes_path, :class => "btn btn-round btn-dark" %>
      <%= link_to 'Editar', edit_roulette_path(@roulette), :class => "btn btn-round btn-primary" %>
      <%= link_to 'Nuevo', new_roulette_path, :class => "btn btn-round btn-success" %>  

    </div>
  </div>
</div>