<?xml version="1.0"?>
	<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
			  xmlns:o="urn:schemas-microsoft-com:office:office"
			  xmlns:x="urn:schemas-microsoft-com:office:excel"
			  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
			  xmlns:html="http://www.w3.org/TR/REC-html40">
<ss:Styles>

        <ss:Style ss:ID="1">
       		 <ss:Font ss:Bold="1" ss:Color="#ffffff"/>
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
          	 <Interior ss:Color="#0A2B48" ss:Pattern="Solid"/>
          	 <Alignment ss:Horizontal="Center"/>
    	</ss:Style>

    	<ss:Style ss:ID="2">
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
    	</ss:Style>

    	<ss:Style ss:ID="3">
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
          	 <Alignment ss:Horizontal="Center"/>
    	</ss:Style>

</ss:Styles>		

		<Worksheet ss:Name="Sheet1">
			<Table>

		  <Column ss:AutoFitWidth="0" ss:Width="95" />
		  <Column ss:AutoFitWidth="0" ss:Width="95" />
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="175" />
          <Column ss:AutoFitWidth="0" ss:Width="180" />
          <Column ss:AutoFitWidth="0" ss:Width="120" />
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="30" />
          <Column ss:AutoFitWidth="0" ss:Width="95" />
          <Column ss:AutoFitWidth="0" ss:Width="35" /> 
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="95" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="75" />
          <Column ss:AutoFitWidth="0" ss:Width="150" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="75" />
          <Column ss:AutoFitWidth="0" ss:Width="90" />
          <Column ss:AutoFitWidth="0" ss:Width="150" />
          <Column ss:AutoFitWidth="0" ss:Width="120" />
          <Column ss:AutoFitWidth="0" ss:Width="45" />
          <Column ss:AutoFitWidth="0" ss:Width="100" />

								<Row>
								  <Cell ss:StyleID="1"><Data ss:Type="String">Matrícula Interna</Data></Cell>
								  <Cell ss:StyleID="1"><Data ss:Type="String">Matrícula Externa</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Nombre</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Facultad</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Generación</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Fecha de Nacimiento</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Lugar de Nacimiento</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Nacionalidad</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">C.U.R.P</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Sexo</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Estado Civil</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Hijos</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">R.F.C</Data></Cell>	                  
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Calle</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Interior</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Entre Calles</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Colonia</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Código Postal</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Trabajo</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Puesto</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Teléfono de Trabajo</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Celular</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Teléfono de Casa</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Email</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Promedio</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Titulado</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Nivel Académico</Data></Cell>
	                            </Row>
	                             <% @graduates.each do |graduate| %>
	                              <Row>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.matricula_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.externa_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.nombre_completo_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.career.descripcion_carrera %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.generation.descripcion_generacion if graduate.generation.present? %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.cumpleanos_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.nacimiento_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.nacionalidad_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.curp_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.sexo_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.estado_civil_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.hijos_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.rfc_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.calle_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.interior_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.referencia_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.colonia_egresado %></Data></Cell>	       
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.codigo_postal_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.trabajo_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.puesto_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.teltrabajo_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.celular_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.otro_telefono_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.correo_electronico_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.promedio_egresado %></Data></Cell>
					               <Cell ss:StyleID="3"><Data ss:Type="String"><%= graduate.status_egresado %></Data></Cell>
					               <Cell ss:StyleID="2"><Data ss:Type="String"><%= graduate.nivel_egresado %></Data></Cell>
	                              </Row>
	                             <% end %>
			</Table>
		</Worksheet>
	</Workbook>