<?xml version="1.0"?>
	<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
			  xmlns:o="urn:schemas-microsoft-com:office:office"
			  xmlns:x="urn:schemas-microsoft-com:office:excel"
			  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
			  xmlns:html="http://www.w3.org/TR/REC-html40">
<ss:Styles>

        <ss:Style ss:ID="1">
       		 <ss:Font ss:Bold="1" ss:Color="#ffffff"/>
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
          	 <Interior ss:Color="#0A2B48" ss:Pattern="Solid"/>
          	 <Alignment ss:Horizontal="Center"/>
    	</ss:Style>

    	<ss:Style ss:ID="2">
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
    	</ss:Style>

    	<ss:Style ss:ID="3">
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
          	 <Alignment ss:Horizontal="Center"/>
    	</ss:Style>

</ss:Styles>		

		<Worksheet ss:Name="Sheet1">
			<Table>

		  <Column ss:AutoFitWidth="0" ss:Width="95" />
		  <Column ss:AutoFitWidth="0" ss:Width="95" />
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="175" />
          <Column ss:AutoFitWidth="0" ss:Width="180" />
          <Column ss:AutoFitWidth="0" ss:Width="120" />
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="30" />
          <Column ss:AutoFitWidth="0" ss:Width="95" />
          <Column ss:AutoFitWidth="0" ss:Width="35" /> 
          <Column ss:AutoFitWidth="0" ss:Width="200" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="95" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="75" />
          <Column ss:AutoFitWidth="0" ss:Width="150" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="110" />
          <Column ss:AutoFitWidth="0" ss:Width="75" />
          <Column ss:AutoFitWidth="0" ss:Width="90" />
          <Column ss:AutoFitWidth="0" ss:Width="150" />
          <Column ss:AutoFitWidth="0" ss:Width="120" />
          <Column ss:AutoFitWidth="0" ss:Width="45" />
          <Column ss:AutoFitWidth="0" ss:Width="100" />

								<Row>
								  <Cell ss:StyleID="1"><Data ss:Type="String">Matrícula Interna</Data></Cell>
								  <Cell ss:StyleID="1"><Data ss:Type="String">Matrícula Externa</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Nombre</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Facultad</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Generación</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Fecha de Nacimiento</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Lugar de Nacimiento</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Nacionalidad</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">C.U.R.P</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Sexo</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Estado Civil</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Hijos</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">R.F.C</Data></Cell>	                  
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Calle</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Interior</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Entre Calles</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Colonia</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Código Postal</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Trabajo</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Puesto</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Teléfono de Trabajo</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Celular</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Teléfono de Casa</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Email</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Promedio</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Titulado</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Nivel Académico</Data></Cell>
	                            </Row>
	                             <% @users.each do |user| %>
	                              <Row>
	                              	  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.matricula_user %></Data></Cell>
	                              	  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.externa_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.nombre_completo_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.career.descripcion_carrera %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.generation.descripcion_generacion if user.generation.present? %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.cumpleanos_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.nacimiento_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.nacionalidad_user %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.curp_user %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.sexo_user %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.estado_civil_user %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.hijos_user %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.rfc_user %></Data></Cell> 
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.calle_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.interior_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.referencia_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.colonia_user %></Data></Cell> 
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.codigo_postal_user %></Data></Cell> <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.trabajo_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.puesto_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.teltrabajo_user %></Data></Cell> 
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.celular_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.otro_telefono_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.email %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.promedio_user %></Data></Cell>
	                                  <Cell ss:StyleID="3"><Data ss:Type="String"><%= user.status_user %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= user.nivel_user %></Data></Cell>
	                              </Row>
	                             <% end %>
			</Table>
		</Worksheet>
	</Workbook>