<div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">

                                   <% if notice.present? %>
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span>
                                      </button> 
                                      <%= notice %>
                                    </div>
                                   <% end %>

                            <h2>Busquedas</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>

                          <div class="x_content">

                            <%= form_for @search do |f| %>
    
                                <form class="form-horizontal form-label-left">

                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <%= f.label :matricula, "Matrícula" %>
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                        <%= f.text_field :matricula_user, class: "form-control", placeholder: "Ingrese una Matrícula"  %>
                                        <br>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <%= f.label :kerwords, "Nombre" %>
                                      <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                      <%= f.text_field :keywords, class: "form-control", placeholder: "Nombre Completo"  %>
                                      <br>
                                    </div>

                                </div>

                                <div class="ln_solid"></div> 

                                <div class="row"> 
  
                                    <% if policy(:global).admin? %>
                                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                         <%= f.label :Carrera, "Facultad" %>
                                         <%= f.collection_select :career_id, Career.order(:descripcion_carrera), :id, :descripcion_carrera, {:prompt => "--Ninguna--"}, class: "form-control"%>
                                         <br>
                                      </div>
                                        <% else %>
                                          <%= f.hidden_field :career_id, value: current_user.career_id %>
                                    <% end %>

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <%= f.label :Generación %>
                                      <%= f.grouped_collection_select :generation_id, Career.order(:descripcion_carrera), :generations, :descripcion_carrera, :id, :descripcion_generacion, {:prompt => "--Ninguna--"}, class: "form-control"%>
                                       <br>
                                    </div>

                                </div>

                                <div class="ln_solid"></div> 

                                <div class="row"> 

                                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                    <%= f.label :sexo_user, "Sexo" %> 
                                      <div class="col-md-12 col-sm-12 col-xs-12"> 
                                        <% sexos = {'Femenino' => 'F', 'Masculino' => 'M'} %>
                                        <% lista = sexos.sort %>
                                        <% lista.each do |sexo| %>
                                          <div class="radio-inline">
                                            <%= f.radio_button :sexo_user, sexo[1] %>
                                              <label for="<%= sexo[1] %>"><%= sexo[0] %></label>
                                          </div>
                                        <% end %>
                                      </div>
                                      <br>
                                      <br>
                                      <br>
                                    </div>

                                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                    <%= f.label :email, "Email" %>
                                    <span class="fa fa-paper-plane form-control-feedback right" aria-hidden="true"></span>
                                    <%= f.text_field :email, class: "form-control", placeholder: "Ej. ejem@live.com" %>
                                    <br>
                                  </div>

                                  <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                    <%= f.label :status_user, "Status" %>
                                    <div class="col-md-12 col-sm-12 col-xs-12"> 
                                      <% statuss = {'Si Titulado' => 'Si', 'No Titulado' => 'No'} %>
                                      <% lista2 = statuss.sort %>
                                      <% lista2.each do |status| %>
                                        <div class="radio-inline">
                                           <%= f.radio_button :status_user, status[1] %>
                                              <label for="<%= status[1] %>"><%= status[0] %></label>
                                        </div>
                                      <% end %>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                  </div>

                                </div>

                                <div class="ln_solid"></div>
                              
                                  <div class="actions">
                                   <%= button_tag type: 'submit', class: 'btn btn-mini btn-success' do %>
                                     <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Buscar
                                   <% end %>
                                 </div>

                                <% end %>

                                </form>
                        </div>
        </div>
      </div>
    </div>
  </div>
</div>
