<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="title_left">
          <h3>Mostrar Empresa</h3>
      </div>
    <div class="x_panel">
            <div class="x_title">

                <% if notice.present? %>
                  <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button> 
                      <%= notice %>
                  </div>
                <% end %>

              <h2>Formulario Empresa</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br/>

                <div class="col-md-2 col-xs-0"></div>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="panel panel-primary" style="margin: 1em;">
                            <div class="panel-heading" style="padding: 10px 15px;">
                                <h3 class="panel-title"><i class="fa fa-building-o"></i> Información de la Empresa</h3>  
                            </div>             

                          <div class="row">
                            <div class="panel-body" style="padding: 10px;">

                              <div class="col-md-3 has-feedback"></div>
                             
                              <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                                <strong >Nombre:</strong>
                                <div><%= @association.nombre_empresa %></div>
                              </div>

                              <div class="col-md-3 has-feedback"></div>
                
                            </div>
                          </div>

                          <div class="panel-heading" style="padding: 10px;">
                                <h3 class="panel-title"><i class="glyphicon glyphicon-envelope"></i> Contacto</h3>  
                          </div>  

                            <div class="row">
                            <br>

                              <div class="panel-body" style="padding: 10px;">

                                <div class="col-md-3 col-sm-6 col-xs-12 has-feedback">
                                  <strong>Contacto:</strong>
                                  <div><%= @association.contacto_empresa %></div>
                                  <br>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12 has-feedback">
                                  <strong>Celular:</strong>
                                  <div><%= @association.celular_empresa %></div>
                                  <br>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12 has-feedback">
                                  <strong>Teléfono:</strong>
                                  <div><%= @association.telefono_empresa %></div>
                                  <br>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12 has-feedback">
                                  <strong>Teléfono 2:</strong>
                                  <div><%= @association.otro_telefono_empresa %></div>
                                  <br>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <hr style="border-color:black; margin-bottom: 0px;">
                                </div>

                              </div>
                            </div> 
                            
                            <div class="row">

                              <div class="panel-body" style="padding: 10px;">

                                <div class="col-md-2 has-feedback"></div>

                                <div class="col-md-4 col-sm-6 col-xs-12 has-feedback">
                                  <strong>Email:</strong>
                                  <div><%= @association.correo_electronico_empresa %></div>
                                  <br>
                                </div>
                                  
                                 <div class="col-md-4 col-sm-6 col-xs-12 has-feedback">
                                  <strong>Información Adicional:</strong>
                                  <div><%= @association.informacion_empresa %></div>
                                  <br>
                                </div>

                                <div class="col-md-2 has-feedback"></div>

                              </div>

                            </div>       

                        </div>
                    </div>
                  </div>
            <div class="col-md-2 col-xs-0"></div>

            </div>
        </div>   
        
      <%= link_to 'Volver', associations_path, :class => "btn btn-round btn-dark" %>
      <%= link_to 'Editar', edit_association_path(@association), :class => "btn btn-round btn-primary" %>
      <%= link_to 'Nuevo', new_association_path, :class => "btn btn-round btn-success" %>  
        
   </div>
  </div>
</div>